.display {
  width: 100%;
  height: 90px;
  background: transparent;
  color: #fff;
  font-size: 2.2rem;
  text-align: right;
  padding: 20px;
  border: none;
  outline: none;
  letter-spacing: 1px;
}