.heading{
  text-align: center;
  font-weight: 700;
}
.flex{
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.active{
  background: red !important;
}